<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-6 offset-3 mt-3">
    <h1 class="mb-3">Rgisteration Form</h1>
    <form action="/signup" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Enter Username</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          required
        />
        <div class="valid-feedback">Username looks good</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Enter Email</label>
        <input
          type="text"
          id="email"
          name="email"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Enter Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Enter valid password</div>
      </div>

      <button class="btn btn-success mb-3">SignUp</button>
    </form>
  </div>
</div>
